body,
section {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(182, 191, 202);
}

body,
section {
    margin: 37px;
    padding: -21px;
    border: 0px;
    background: rgb(182, 191, 202);
}

#todo {
    background: rgba(156, 160, 165, 0.45);
    border: 1px solid #cccccc;
    margin-top: -49px;
}

.logo img {
    display: 20px;
}

.red {
    display: inline-block;
    vertical-align: middle;
    margin-left: 870px;
}

.sopor {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    margin-left: 800px;
}

.menu a {
    color: black;
    font-size: 15px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.logo,
.menu {
    display: inline-block;
    vertical-align: middle;
}

#midel {
    padding-bottom: 17%;
    background: url("../img/kk.jpg");
}

pre {
    margin-top: -11px;
    margin-left: 211px;
    font-size: 20px;
}

.texto h2 {
    margin-top: -27px;
    margin-left: 337PX;
    color: black ;
    font-size: 40px;
}
img.inn {
    position: absolute;
    top: 50px;
    left: 121px;
    width: 143px;
}
img.cinco {    
position: absolute;
top: 4px;
left: 121px;
width: 143px;
}
img.rop {    
    position: absolute;
    top: 39px;
    left: 121px;
    width: 143px;
    }
    img.gra {    
        position: absolute;
        top: 39px;
        left: 121px;
        width: 174px;
        }
div.item hr {
    border: 1px dashed #cccccc;
}

div.item {
    position: relative;
    width: 393px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    display: inline-block;
}

#bo {
    border: #E2DEDE;
    border-radius: 1000px;
    color: blue;
    border-width: 5px;
    padding: 40px;
    font-size: 30px;
}

#midel button {
    margin-left: 348px;
    border: 2px solid black;
    background: transparent;
    color: #0c968f;
}

.bott p {
    color: grey;
}

#re {
    background: transparent;
    color: grey;
}

.bott {
    text-align: center;
}

#red {
    background: #f13333;
}

#or {
    background: orange;
}

#ver {
    background: lightgreen;
}

#mo {
    background: rebeccapurple;
}

.tx {
    font-size: 10px;
}

#bott {
    margin-left: 162px;
    margin-top: -35px;
}